<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>day09-3</display-name>
  	<!--配置监听器  -->
  	<listener>
  		<listener-class>web.CountListener</listener-class>
  	</listener>
  	<listener>
  		<listener-class>web.CatchListener</listener-class>
  	</listener>
  	
 	<!--配置全局的初始化参数-->
 	<context-param>
 		<param-name>company</param-name>
 		<param-value>IBM</param-value>
 	</context-param>
  <servlet>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>web.AServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BServlet</servlet-name>
    <servlet-class>web.BServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BServlet</servlet-name>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
</web-app>